function Main.main 5
push constant 0
pop local 4
push constant 16
push constant 13035
push constant 10361
push constant 13042
push constant 14835
push constant 12901
push constant 14880
push constant 14821
push constant 7540
call String.newWithStr 9
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
label WHILE_ITER0
push local 4
if-goto WHILE_BREAKER1
push constant 32
push constant 13904
push constant 12517
push constant 13043
push constant 14368
push constant 13042
push constant 14835
push constant 14880
push constant 13032
push constant 5024
push constant 12496
push constant 13031
push constant 8736
push constant 15343
push constant 5102
push constant 13728
push constant 15589
call String.newWithStr 17
call Output.printString 1
pop temp 0
label WHILE_ITER2
push local 1
push constant 0
eq
not
if-goto WHILE_BREAKER3
call Keyboard.keyPressed 0
pop local 1
goto WHILE_ITER2
label WHILE_BREAKER3
push local 1
pop local 0
label WHILE_ITER4
push local 1
push constant 0
eq
if-goto WHILE_BREAKER5
call Keyboard.keyPressed 0
pop local 1
goto WHILE_ITER4
label WHILE_BREAKER5
call Output.println 0
pop temp 0
push local 0
push constant 137
eq
not
if-goto FALSE_CASE6
push constant 2
push constant 13807
call String.newWithStr 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant -1
pop local 4
label FALSE_CASE6
goto WHILE_ITER0
label WHILE_BREAKER1
push constant 0
pop local 4
push constant 14
push constant 13042
push constant 12897
push constant 13379
push constant 14689
push constant 14880
push constant 14821
push constant 7540
call String.newWithStr 8
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 59
push constant 11048
push constant 14693
push constant 13161
push constant 4217
push constant 13428
push constant 14945
push constant 14880
push constant 13032
push constant 14368
push constant 13042
push constant 14835
push constant 12901
push constant 12704
push constant 12520
push constant 12530
push constant 14947
push constant 14693
push constant 13472
push constant 4211
push constant 12773
push constant 14312
push constant 12901
push constant 14880
push constant 4207
push constant 13428
push constant 4197
push constant 12787
push constant 13042
push constant 14181
push constant 41
call String.newWithStr 31
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
label WHILE_ITER7
push local 4
if-goto WHILE_BREAKER8
push constant 29
push constant 13904
push constant 12517
push constant 13043
push constant 14368
push constant 13042
push constant 14835
push constant 14880
push constant 13032
push constant 14112
push constant 14069
push constant 13026
push constant 4210
push constant 6567
push constant 7463
push constant 32
call String.newWithStr 16
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
call Output.println 0
pop temp 0
push local 0
push constant 51
eq
not
if-goto FALSE_CASE9
push constant 2
push constant 13807
call String.newWithStr 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant -1
pop local 4
label FALSE_CASE9
goto WHILE_ITER7
label WHILE_BREAKER8
push constant 0
pop local 4
push constant 14
push constant 13042
push constant 12897
push constant 13516
push constant 13038
push constant 14880
push constant 14821
push constant 7540
call String.newWithStr 8
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 38
push constant 11048
push constant 14693
push constant 13161
push constant 4217
push constant 12773
push constant 14312
push constant 12448
push constant 12910
push constant 15008
push constant 12531
push constant 13031
push constant 14240
push constant 4198
push constant 12583
push constant 12769
push constant 14827
push constant 12528
push constant 13027
push constant 5287
call String.newWithStr 20
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
label WHILE_ITER10
push local 4
if-goto WHILE_BREAKER11
push constant 36
push constant 13904
push constant 12517
push constant 13043
push constant 14880
push constant 14457
push constant 4197
push constant 9511
push constant 8641
push constant 5067
push constant 12448
push constant 12910
push constant 14368
push constant 13042
push constant 14835
push constant 12960
push constant 14958
push constant 14693
push constant 4154
call String.newWithStr 19
call Keyboard.readLine 1
pop local 2
push local 2
call String.length 1
push constant 4
eq
not
if-goto FALSE_CASE12
push local 2
push constant 0
call String.charAt 2
push constant 74
eq
push local 2
push constant 1
call String.charAt 2
push constant 65
eq
push local 2
push constant 2
call String.charAt 2
push constant 67
eq
push local 2
push constant 3
call String.charAt 2
push constant 75
eq
and
and
and
not
if-goto FALSE_CASE13
push constant 2
push constant 13807
call String.newWithStr 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant -1
pop local 4
label FALSE_CASE13
label FALSE_CASE12
goto WHILE_ITER10
label WHILE_BREAKER11
push constant 0
pop local 4
push constant 13
push constant 13042
push constant 12897
push constant 14153
push constant 4212
push constant 13044
push constant 14963
push constant 58
call String.newWithStr 8
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 38
push constant 11048
push constant 14693
push constant 13161
push constant 4217
push constant 12773
push constant 14312
push constant 12448
push constant 12910
push constant 15008
push constant 12531
push constant 13031
push constant 14240
push constant 4198
push constant 12583
push constant 12769
push constant 14827
push constant 12528
push constant 13027
push constant 5287
call String.newWithStr 20
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
label WHILE_ITER14
push local 4
if-goto WHILE_BREAKER15
push constant 38
push constant 13904
push constant 12517
push constant 13043
push constant 14880
push constant 14457
push constant 4197
push constant 5799
push constant 6451
push constant 6449
push constant 5043
push constant 12448
push constant 12910
push constant 14368
push constant 13042
push constant 14835
push constant 12960
push constant 14958
push constant 14693
push constant 4154
call String.newWithStr 20
call Keyboard.readInt 1
pop local 3
push local 3
push constant 32123
neg
eq
not
if-goto FALSE_CASE16
push constant 2
push constant 13807
call String.newWithStr 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant -1
pop local 4
label FALSE_CASE16
goto WHILE_ITER14
label WHILE_BREAKER15
call Output.println 0
pop temp 0
push constant 27
push constant 13012
push constant 14963
push constant 12704
push constant 14063
push constant 13936
push constant 14949
push constant 12901
push constant 14752
push constant 12789
push constant 13027
push constant 14835
push constant 15078
push constant 13932
push constant 121
call String.newWithStr 15
call Output.printString 1
pop temp 0
push constant 0
return