function Main.main 1
push constant 10
push constant 12503
push constant 14953
push constant 14880
push constant 14821
push constant 7540
call String.newWithStr 6
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 64
push constant 14672
push constant 14821
push constant 4211
push constant 14177
push constant 4217
push constant 13035
push constant 6009
push constant 8352
push constant 14950
push constant 14693
push constant 6432
push constant 14752
push constant 12773
push constant 14191
push constant 14820
push constant 4140
push constant 14177
push constant 14959
push constant 13032
push constant 4210
push constant 13037
push constant 14835
push constant 13281
push constant 4197
push constant 13559
push constant 13932
push constant 12576
push constant 4197
push constant 14704
push constant 14185
push constant 13044
push constant 7524
call String.newWithStr 33
call Output.printString 1
pop temp 0
label WHILE_ITER0
push local 0
push constant 0
eq
not
if-goto WHILE_BREAKER1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_ITER0
label WHILE_BREAKER1
label WHILE_ITER2
push local 0
push constant 0
eq
if-goto WHILE_BREAKER3
call Keyboard.keyPressed 0
pop local 0
goto WHILE_ITER2
label WHILE_BREAKER3
push constant 2000
call Sys.wait 1
pop temp 0
call Output.println 0
pop temp 0
push constant 45
push constant 13524
push constant 13037
push constant 13472
push constant 4211
push constant 14453
push constant 4142
push constant 12493
push constant 13035
push constant 14752
push constant 14709
push constant 4197
push constant 13428
push constant 14945
push constant 6432
push constant 14752
push constant 12773
push constant 14191
push constant 14820
push constant 12960
push constant 12524
push constant 14832
push constant 12901
push constant 46
call String.newWithStr 24
call Output.printString 1
pop temp 0
push constant 0
return