function Main.main 3
push constant 10
call Array.new 1
pop local 0
push constant 5
call Array.new 1
pop local 1
push constant 1
call Array.new 1
pop local 2
push local 0
push constant 3
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 4
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 5
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push local 0
push constant 3
add
pop pointer 1
push that 0
add
push local 0
push constant 3
add
pop pointer 1
push that 0
push constant 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 1
push local 0
push constant 3
add
pop pointer 1
push that 0
add
pop pointer 1
push that 0
add
push local 0
push local 0
push constant 5
add
pop pointer 1
push that 0
add
pop pointer 1
push that 0
push local 1
push constant 7
push local 0
push constant 3
add
pop pointer 1
push that 0
sub
push constant 2
call Main.double 1
sub
push constant 1
add
add
pop pointer 1
push that 0
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
pop pointer 1
push that 0
pop local 2
push constant 43
push constant 13012
push constant 14963
push constant 6304
push constant 4154
push constant 15461
push constant 13040
push constant 14947
push constant 12901
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 6816
push constant 4155
push constant 12769
push constant 15092
push constant 13921
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 32
call String.newWithStr 23
call Output.printString 1
pop temp 0
push local 1
push constant 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 44
push constant 13012
push constant 14963
push constant 6432
push constant 4154
push constant 15461
push constant 13040
push constant 14947
push constant 12901
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 6688
push constant 7600
push constant 12448
push constant 14947
push constant 12533
push constant 4204
push constant 13042
push constant 15091
push constant 14956
push constant 4154
call String.newWithStr 23
call Output.printString 1
pop temp 0
push local 0
push constant 5
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 43
push constant 13012
push constant 14963
push constant 6560
push constant 4154
push constant 15461
push constant 13040
push constant 14947
push constant 12901
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 6176
push constant 4155
push constant 12769
push constant 15092
push constant 13921
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 32
call String.newWithStr 23
call Output.printString 1
pop temp 0
push local 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
pop local 2
push local 2
push constant 0
eq
not
if-goto FALSE_CASE0
push local 0
push constant 10
call Main.fill 2
pop temp 0
push local 0
push constant 3
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 1
add
push constant 33
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 7
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 1
add
push constant 77
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 3
add
pop pointer 1
push that 0
pop local 1
push local 1
push constant 1
add
push local 1
push constant 1
add
pop pointer 1
push that 0
push local 2
push constant 1
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label FALSE_CASE0
push constant 44
push constant 13012
push constant 14963
push constant 6688
push constant 4154
push constant 15461
push constant 13040
push constant 14947
push constant 12901
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 7072
push constant 7607
push constant 12448
push constant 14947
push constant 12533
push constant 4204
push constant 13042
push constant 15091
push constant 14956
push constant 4154
call String.newWithStr 23
call Output.printString 1
pop temp 0
push local 2
push constant 1
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 45
push constant 13012
push constant 14963
push constant 6816
push constant 4154
push constant 15461
push constant 13040
push constant 14947
push constant 12901
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 6304
push constant 6193
push constant 4155
push constant 12769
push constant 15092
push constant 13921
push constant 14624
push constant 14821
push constant 13941
push constant 7540
push constant 32
call String.newWithStr 24
call Output.printString 1
pop temp 0
push local 1
push constant 1
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Main.double 0
push argument 0
push constant 2
call Math.multiply 2
return
function Main.fill 0
label WHILE_ITER1
push argument 1
push constant 0
gt
not
if-goto WHILE_BREAKER2
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push argument 1
add
push constant 3
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto WHILE_ITER1
label WHILE_BREAKER2
push constant 0
return