function Main.main 4
push constant 18
push constant 14280
push constant 4215
push constant 12525
push constant 15598
push constant 14112
push constant 14069
push constant 13026
push constant 14834
push constant 4159
call String.newWithStr 10
call Keyboard.readInt 1
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 0
pop local 2
label WHILE_ITER0
push local 2
push local 1
lt
not
if-goto WHILE_BREAKER1
push local 0
push local 2
add
push constant 16
push constant 14149
push constant 13044
push constant 4210
push constant 4193
push constant 15086
push constant 12653
push constant 14693
push constant 4154
call String.newWithStr 9
call Keyboard.readInt 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 0
push local 2
add
pop pointer 1
push that 0
add
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_ITER0
label WHILE_BREAKER1
push constant 15
push constant 13396
push constant 4197
push constant 15201
push constant 14693
push constant 13281
push constant 4197
push constant 14825
push constant 32
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 3
push local 1
call Math.divide 2
call Output.printInt 1
pop temp 0
push constant 0
return