body {
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 2px solid black;
  background: white;
}