function Memory.init 0
push constant 0
pop static 0
push static 0
push constant 2048
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 2049
add
push constant 16384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push static 0
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push static 0
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 2
push argument 0
push constant 0
lt
not
if-goto FALSE_CASE0
push constant 5
call Sys.error 1
pop temp 0
label FALSE_CASE0
push constant 2048
pop local 0
label WHILE_ITER1
push constant 0
if-goto WHILE_BREAKER2
push local 0
push constant 16384
eq
not
if-goto FALSE_CASE3
push constant 6
call Sys.error 1
pop temp 0
label FALSE_CASE3
push local 0
pop pointer 1
push that 0
pop local 1
push local 1
push argument 0
lt
if-goto FALSE_CASE4
push argument 0
push constant 2
add
pop argument 0
push local 1
push argument 0
gt
not
if-goto FALSE_CASE5
push local 0
push argument 0
add
push local 1
push argument 0
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 0
push constant 1
add
add
push local 0
push local 1
push constant 2
add
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push local 0
push argument 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label FALSE_CASE5
push local 0
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
add
return
label FALSE_CASE4
push local 0
push constant 1
add
pop pointer 1
push that 0
pop local 0
goto WHILE_ITER1
label WHILE_BREAKER2
push constant 0
return
function Memory.deAlloc 2
push argument 0
push constant 2
sub
pop local 0
push local 0
push constant 1
add
pop pointer 1
push that 0
pop local 1
push local 1
pop pointer 1
push that 0
push constant 0
eq
if-goto FALSE_CASE6
push local 0
push local 1
push local 0
sub
push local 1
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push local 1
push constant 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto TRUE_CASE7
label FALSE_CASE6
push local 0
push local 1
push local 0
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label TRUE_CASE7
push constant 0
return