function Main.main 2
push constant 6
call String.new 1
pop local 0
push local 0
push constant 97
call String.appendChar 2
pop local 0
push local 0
push constant 98
call String.appendChar 2
pop local 0
push local 0
push constant 99
call String.appendChar 2
pop local 0
push local 0
push constant 100
call String.appendChar 2
pop local 0
push local 0
push constant 101
call String.appendChar 2
pop local 0
push constant 16
push constant 110
push constant 101
push constant 119
push constant 44
push constant 97
push constant 112
push constant 112
push constant 101
push constant 110
push constant 100
push constant 67
push constant 104
push constant 97
push constant 114
push constant 58
push constant 32
call String.newWithStr 17
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
call String.new 1
pop local 1
push local 1
push constant 12345
call String.setInt 2
pop temp 0
push constant 8
push constant 115
push constant 101
push constant 116
push constant 73
push constant 110
push constant 116
push constant 58
push constant 32
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
push constant 32767
neg
call String.setInt 2
pop temp 0
push constant 8
push constant 115
push constant 101
push constant 116
push constant 73
push constant 110
push constant 116
push constant 58
push constant 32
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 8
push constant 108
push constant 101
push constant 110
push constant 103
push constant 116
push constant 104
push constant 58
push constant 32
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 0
call String.length 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 11
push constant 99
push constant 104
push constant 97
push constant 114
push constant 65
push constant 116
push constant 91
push constant 50
push constant 93
push constant 58
push constant 32
call String.newWithStr 12
call Output.printString 1
pop temp 0
push local 0
push constant 2
call String.charAt 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 2
push constant 45
call String.setCharAt 3
pop temp 0
push constant 18
push constant 115
push constant 101
push constant 116
push constant 67
push constant 104
push constant 97
push constant 114
push constant 65
push constant 116
push constant 40
push constant 50
push constant 44
push constant 39
push constant 45
push constant 39
push constant 41
push constant 58
push constant 32
call String.newWithStr 19
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call String.eraseLastChar 1
pop temp 0
push constant 15
push constant 101
push constant 114
push constant 97
push constant 115
push constant 101
push constant 76
push constant 97
push constant 115
push constant 116
push constant 67
push constant 104
push constant 97
push constant 114
push constant 58
push constant 32
call String.newWithStr 16
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
push constant 52
push constant 53
push constant 54
call String.newWithStr 4
pop local 0
push constant 10
push constant 105
push constant 110
push constant 116
push constant 86
push constant 97
push constant 108
push constant 117
push constant 101
push constant 58
push constant 32
call String.newWithStr 11
call Output.printString 1
pop temp 0
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
push constant 45
push constant 51
push constant 50
push constant 49
push constant 50
push constant 51
call String.newWithStr 7
pop local 0
push constant 10
push constant 105
push constant 110
push constant 116
push constant 86
push constant 97
push constant 108
push constant 117
push constant 101
push constant 58
push constant 32
call String.newWithStr 11
call Output.printString 1
pop temp 0
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 11
push constant 98
push constant 97
push constant 99
push constant 107
push constant 83
push constant 112
push constant 97
push constant 99
push constant 101
push constant 58
push constant 32
call String.newWithStr 12
call Output.printString 1
pop temp 0
call String.backSpace 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 13
push constant 100
push constant 111
push constant 117
push constant 98
push constant 108
push constant 101
push constant 81
push constant 117
push constant 111
push constant 116
push constant 101
push constant 58
push constant 32
call String.newWithStr 14
call Output.printString 1
pop temp 0
call String.doubleQuote 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 9
push constant 110
push constant 101
push constant 119
push constant 76
push constant 105
push constant 110
push constant 101
push constant 58
push constant 32
call String.newWithStr 10
call Output.printString 1
pop temp 0
call String.newLine 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return