function Main.main 2
push constant 6
call String.new 1
pop local 0
push local 0
push constant 97
call String.appendChar 2
pop local 0
push local 0
push constant 98
call String.appendChar 2
pop local 0
push local 0
push constant 99
call String.appendChar 2
pop local 0
push local 0
push constant 100
call String.appendChar 2
pop local 0
push local 0
push constant 101
call String.appendChar 2
pop local 0
push constant 16
push constant 13038
push constant 5751
push constant 14433
push constant 13040
push constant 12910
push constant 13379
push constant 14689
push constant 4154
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
call String.new 1
pop local 1
push local 1
push constant 12345
call String.setInt 2
pop temp 0
push constant 8
push constant 13043
push constant 9460
push constant 14958
push constant 4154
call String.newWithStr 5
call Output.printString 1
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
push constant 32767
neg
call String.setInt 2
pop temp 0
push constant 8
push constant 13043
push constant 9460
push constant 14958
push constant 4154
call String.newWithStr 5
call Output.printString 1
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 8
push constant 13036
push constant 13294
push constant 13428
push constant 4154
call String.newWithStr 5
call Output.printString 1
pop temp 0
push local 0
call String.length 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 11
push constant 13411
push constant 14689
push constant 14913
push constant 6491
push constant 7517
push constant 32
call String.newWithStr 7
call Output.printString 1
pop temp 0
push local 0
push constant 2
call String.charAt 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 2
push constant 45
call String.setCharAt 3
pop temp 0
push constant 18
push constant 13043
push constant 8692
push constant 12520
push constant 8434
push constant 5236
push constant 5682
push constant 5799
push constant 5287
push constant 4154
call String.newWithStr 10
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call String.eraseLastChar 1
pop temp 0
push constant 15
push constant 14693
push constant 14817
push constant 9829
push constant 14817
push constant 8692
push constant 12520
push constant 7538
push constant 32
call String.newWithStr 9
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
push constant 6836
push constant 54
call String.newWithStr 3
pop local 0
push constant 10
push constant 14185
push constant 11124
push constant 13921
push constant 13045
push constant 4154
call String.newWithStr 6
call Output.printString 1
pop temp 0
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
push constant 6573
push constant 6322
push constant 6578
call String.newWithStr 4
pop local 0
push constant 10
push constant 14185
push constant 11124
push constant 13921
push constant 13045
push constant 4154
call String.newWithStr 6
call Output.printString 1
pop temp 0
push local 0
call String.intValue 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 11
push constant 12514
push constant 13795
push constant 14419
push constant 12769
push constant 7525
push constant 32
call String.newWithStr 7
call Output.printString 1
pop temp 0
call String.backSpace 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 13
push constant 14308
push constant 12661
push constant 13036
push constant 15057
push constant 14959
push constant 7525
push constant 32
call String.newWithStr 8
call Output.printString 1
pop temp 0
call String.doubleQuote 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 9
push constant 13038
push constant 9847
push constant 14185
push constant 7525
push constant 32
call String.newWithStr 6
call Output.printString 1
pop temp 0
call String.newLine 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return