function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
call Array.new 1
pop this 1
push constant 0
pop this 2
push pointer 0
return
function String.newWithStr 3
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
call Array.new 1
pop this 1
push argument 0
pop this 2
label WHILE_ITER0
push local 0
push argument 0
lt
not
if-goto WHILE_BREAKER1
push local 0
push constant 2
call Math.divide 2
push constant 1
add
pop local 1
push this 1
push local 0
add
push pointer -1
push local 1
add
pop pointer 1
push that 0
push constant 127
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer -1
push local 1
add
pop pointer 1
push that 0
push constant 128
call Math.divide 2
pop local 2
push local 2
push constant 0
eq
if-goto FALSE_CASE2
push this 1
push local 0
push constant 1
add
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label FALSE_CASE2
push local 0
push constant 2
add
pop local 0
goto WHILE_ITER0
label WHILE_BREAKER1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 2
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
if-goto FALSE_CASE3
push constant 15
call Sys.error 1
pop temp 0
label FALSE_CASE3
push this 1
push argument 1
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
if-goto FALSE_CASE4
push constant 16
call Sys.error 1
pop temp 0
label FALSE_CASE4
push this 1
push argument 1
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 2
push this 0
eq
not
if-goto FALSE_CASE5
push constant 17
call Sys.error 1
pop temp 0
label FALSE_CASE5
push this 1
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push constant 1
add
pop this 2
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto FALSE_CASE6
push this 2
push constant 1
sub
pop this 2
label FALSE_CASE6
push constant 0
return
function String.intValue 3
push argument 0
pop pointer 0
push this 1
pop pointer 1
push that 0
push constant 45
eq
pop local 2
push local 2
not
if-goto FALSE_CASE7
push constant 1
pop local 1
label FALSE_CASE7
label WHILE_ITER8
push local 1
push this 2
lt
not
if-goto WHILE_BREAKER9
push local 0
push constant 10
call Math.multiply 2
push this 1
push local 1
add
pop pointer 1
push that 0
push constant 48
sub
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_ITER8
label WHILE_BREAKER9
push local 2
if-goto FALSE_CASE10
push local 0
return
label FALSE_CASE10
push local 0
neg
return
function String.setInt 2
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
if-goto FALSE_CASE11
push constant 0
pop this 2
goto TRUE_CASE12
label FALSE_CASE11
push this 1
push constant 45
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop this 2
push argument 1
neg
pop argument 1
label TRUE_CASE12
push argument 1
push constant 10000
lt
if-goto FALSE_CASE13
push constant 5
pop local 1
goto TRUE_CASE14
label FALSE_CASE13
push argument 1
push constant 1000
lt
if-goto FALSE_CASE15
push constant 4
pop local 1
goto TRUE_CASE16
label FALSE_CASE15
push argument 1
push constant 100
lt
if-goto FALSE_CASE17
push constant 3
pop local 1
goto TRUE_CASE18
label FALSE_CASE17
push argument 1
push constant 10
lt
if-goto FALSE_CASE19
push constant 2
pop local 1
goto TRUE_CASE20
label FALSE_CASE19
push constant 1
pop local 1
label TRUE_CASE20
label TRUE_CASE18
label TRUE_CASE16
label TRUE_CASE14
push this 2
push local 1
add
pop this 2
push this 2
push this 0
gt
not
if-goto FALSE_CASE21
push constant 19
call Sys.error 1
pop temp 0
label FALSE_CASE21
push this 2
pop local 1
push constant 1
pop local 0
label WHILE_ITER22
push local 0
push constant 0
eq
if-goto WHILE_BREAKER23
push argument 1
push constant 10
call Math.divide 2
pop local 0
push local 1
push constant 1
sub
pop local 1
push this 1
push local 1
add
push argument 1
push local 0
push constant 10
call Math.multiply 2
sub
push constant 48
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
pop argument 1
goto WHILE_ITER22
label WHILE_BREAKER23
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
function String.init 0
push constant 0
return