function Main.main 1
push constant 1
call String.new 1
pop local 0
push local 0
call String.doubleQuote 0
call String.appendChar 2
pop temp 0
push constant 0
push constant 63
call Output.moveCursor 2
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 22
push constant 63
call Output.moveCursor 2
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 2
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 10
push constant 6320
push constant 6578
push constant 6836
push constant 7094
push constant 7352
call String.newWithStr 6
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 53
push constant 8513
push constant 8771
push constant 9029
push constant 9287
push constant 9545
push constant 9803
push constant 10061
push constant 10319
push constant 10577
push constant 10835
push constant 11093
push constant 11351
push constant 11609
push constant 12448
push constant 12770
push constant 13028
push constant 13286
push constant 13544
push constant 13802
push constant 14060
push constant 14318
push constant 14576
push constant 14834
push constant 15092
push constant 15350
push constant 15608
push constant 122
call String.newWithStr 28
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 31
push constant 4513
push constant 4772
push constant 5030
push constant 5288
push constant 5546
push constant 5804
push constant 6062
push constant 7610
push constant 7868
push constant 8126
push constant 11712
push constant 11996
push constant 12254
push constant 15840
push constant 16124
push constant 126
call String.newWithStr 17
call Output.printString 1
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 12345
neg
call Output.printInt 1
pop temp 0
call Output.backSpace 0
pop temp 0
push constant 6789
call Output.printInt 1
pop temp 0
push constant 0
return