function Test.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 0
push constant 2
pop this 1
push constant 3
pop this 2
push pointer 0
return
function Test.foo 0
push argument 0
pop pointer 0
push constant 5
call Output.printInt 1
pop temp 0
push constant 0
return